.toggleInput {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.toggle::after {
  content: "";
  position: absolute;

  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  
  background-image: url("../../../assets/moon.svg");
  border-radius: 90px;
  transition: 0.3s;
}
.toggleInput:checked + .toggle {
  background: #bada55;
}

.toggleInput:checked + .toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggleInput:active:after {
  width: 130px;
}
.pass{
  width: 20rem;
  height: 1.5rem;
  
}
.wrapper{
  height: 40vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.invalid{
  cursor:not-allowed;
  background-color: rgb(92, 86, 86);
  color: gray;
}